.AppBar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 1.8rem;
}

.logo {
    display: flex;
    align-items: center;
}

.alignContent {
    display: flex;
    justify-content: end;
    align-items: center;
}

.homeButton {
    border-radius: 40px !important;
    background-color: #0AB2B7 !important;
    width: 150px;
    height: 52px;
    margin-top: 2rem;
}

.homeTitle {
    font-family: 'Plus Jakarta Sans' !important;
    color: #000 !important;
    font-size: 36px !important;
    font-weight: 600 !important;
}

.homeSubTitle {
    font-family: 'Plus Jakarta Sans' !important;
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-top: 2rem;
}